<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block page_content %}
 <div class="col-lg-8">
     <div class="table-responsive">
            <table id="unsorted" class="table">
                    <thead>
                    <tr>
                        <th>Meeting</th>
                        <th>Comment</th>
                        <th>Is cancelled?</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for meeting in meetings %}
                        {% if meeting.is_cancelled == True %}
                            <tr class="alert alert-danger">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td><a href="{{  url_for('main.case_list', meeting=meeting.date)}}"> {{meeting.date_repr}}</a> </td>
                            <td> {{meeting.comment}} </td>
                            <td>
                            {% if meeting.is_cancelled == True %}
                               Yes
                            {%  else %}
                               No
                            {%  endif %}
                              </td>
                            <td><a href="{{  url_for('main.meeting_edit', pk=meeting.id)}}" class="btn btn-default" role="button">Edit meeting</a></td>

                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
             </div>
          </div>
        <!-- panel-body-->
        </div>
     </div>
  </div>
{% endblock %}
