{% extends "base.html" %}
{% from "_form_helpers.html" import render_field, render_label, render_input %}

{% block page_content %}
	<div class="col-lg-4">
		<ul class="nav nav-tabs">
			<li><a href="{{ url_for('main.meeting_list') }}">View Meetings </a></li>
			{% if 'new' in title %}
				<li>
			{% else %}
				<li class="active">
			{% endif %}
			<a href="{{ url_for('main.meeting_create') }}">Add a Meeting </a></li>
	    </ul> 
		<br>
	    <form method="POST" action="">
			{{ form.csrf_token }}
			{{ form.hidden_tag() }}
			<table class="table">
				<tr><td>{{ render_label(form.date) }}</td>
					<td>
						<div class="input-group date">
						    {{ render_input(form.date, class="form-control") }}
						    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
						</div>
					</td>	   
				</tr>
				<tr>{{ render_field(form.comment) }}</tr>
				<tr>{{ render_field(form.is_cancelled) }}</tr>
				<tr><td colspan=4><input style="float:right" type="submit" value="Submit"></td></tr>
			</table>
		</form>
		{% include "_date_format.html" %}
	</div>
{% endblock %}